<div class="container">
<!-- 	検索 -->
	<div class="row">
	 <div class="card offset-s3 col s6">
	 　<div class="card-content">
	    <%= search_form_for @q, url: {controller: "recruitments", action: "search"} do |f| %>
	        <%= f.label :title_cont, "タイトル", class: "form-label" %>
	        <%= f.search_field :title_cont, class: "form-field" %>
            <%= f.label :event_date_gteq, "開催日" %>
            <%= f.date_field :event_date_gteq, data:{ provide:'datepicker' } ,class: "col s4"%>
            <%= f.label :category_eq, "カテゴリー" %>
            <%= f.select :category_eq, Recruitment.categories.map{|k,v| [Recruitment.categories_i18n[k], v]},{ include_blank: 'カテゴリー' } %>
            <%= f.label :area_eq, "カテゴリー" %>
            <%= f.select :area_eq, Recruitment.areas.map{|k,v| [Recruitment.areas_i18n[k], v]},{ include_blank: 'エリア' } %>
            <button class="btn waves-effect waves-light teal darken-4" type="submit" name="action">
              <i class="material-icons">search</i>
              <%= f.submit "" %>
            </button>
	    <% end %>
	   </div>
	 </div>
	</div>
<!-- 	一覧 -->
	<div class="row">
		<% @recruitments.each do |r| %>
		  <div class="col s12">
		  	<div class= "card">
		  		<div class="card-content">
		  			<span class="card-title">
		  				  <%= r.title %>
		  			</span>
		  			<div class="chip teal darken-3 white-text"><%= r.category %></div>
                    <%= link_to recruitment_path(r.id) do %>
		  			  <button class="btn waves-effect waves-light teal darken-3" type="submit" name="action">
                       <i class="material-icons right">send</i>もっと詳しく
                      </button>
                    <% end %>
		  		</div>
		  	</div>
		  </div>
		<% end %>
	</div>
</div>