<div class= "container">
	<div class="row">
    <% if flash[:miss_update] %>
  　  <div class="flash">
  　　  <%= flash[:miss_update] %>
      </div>
    <% end %>
		<div class="offset-s2 col s8">
			<%= form_for(@user, url:user_path) do |f| %>
			  <div class="form-group">
			    <div class="file-field input-field">
			        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.png"%>
			    </div>
			    <label class="control-label sr-only" for="inputEmail">ProfileImage</label>
			    <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "file-field input-field" %>
			  </div>
			  <div class="form-group">
	            <%= f.label :name, 'ユーザー名' %>
	            <%= f.text_field :name, autofocus: true, class:"form-control", id: "inputName", placeholder:"ユーザー名" %>
			  </div>
			  <div class="form-group">
			  	<%= f.label :self_introduction, '自己紹介' %>
			  	<%= f.text_field :self_introduction, autofocus: true, autocomplete: "自己紹介" %>
			  </div>
          　　 <button class="btn waves-effect waves-light teal darken-4" type="submit" name="action">
               <i class="material-icons right">send</i>
               <%= f.submit "" %>プロフィールを更新する
               </button>
			<% end %>
		</div>
	</div>
</div>