<div class="container">
	<div class="row">
	 <div class="card offset-s3 col s6">
	 　<div class="card-content">
	    <%= search_form_for @q, url: users_search_path do |f| %>
	        <%= f.label :name_cont, "ユーザー名", class: "form-label" %>
	        <%= f.search_field :name_cont, class: "form-field" %>
            <button class="btn waves-effect waves-light teal darken-4" type="submit" name="action">
              <i class="material-icons center">search</i>
              <%= f.submit "" %>
            </button>
	    <% end %>
	   </div>
	 </div>
	</div>
	<div class="row">
		  <div class="offset-s3 col s7">
		  	<table class="collection">
		  		<thead>
		  			<tr>
		  			  <th></th>
		  			  <th></th>
		  			  <th></th>
		  			</tr>
		  		</thead>
		  		<tbody>
		  		 <% @users.each do |u| %>
		  		  <tr>
		  		  	<th>
		  		  		<%= attachment_image_tag u, :profile_image,　format: 'png', fallback: "no_image.png", size: "50x50", class: 'circle' %>
		  		  	</th>
		  		  	<th><%= u.name %></th>
		  		  	<th>
			  			<%= link_to user_path(u.id) do %>
			  			  <i class="material-icons">send</i>
			  			<% end %>
		  		    </th>
		  		 <% end %>
		  		</tbody>
		  	</table>
		  </div>
	</div>
</div>
<div style="text-align:center">
</div>