<div class= "container">
  <div class="row">
	<ul class = "collection">
		<li class= "collection-item">プロフィール画像</li>
		<li class= "collection-item"><%= @user.name %></li>
		<li class= "collection-item"><%= @user.self_introduction %></li>
	</ul>
  <div class="row">
  <div class="row">
  	 <button class="btn waves-effect waves-light teal darken-3" type="submit" name="action">
       <i class="material-icons right">send</i>ボタン
     </button>
  </div>
  <div class="row">
  	<div class="offset-s2 col s4">
  	 <ul class= "collection">
  	 	<li class="collection-item avatar">
  	 	  <%= link_to chat_index_path do %>
  	 	    <i class="material-icons circle teal darken-3">chat</i>チャット一覧
  	 	  <% end %>
  	 	</li>
  	 	<li class="collection-item avatar">
  	 	  <%= link_to log_path do %>
  	 	    <i class="material-icons circle teal darken-3">playlist_add_check</i>投稿一覧
  	 	  <% end %>
  	 	</li>
  	 </ul>
  	</div>
  	<div class="col s4">
  	 <ul class= "collection">
  	 	<li class="collection-item avatar">
  	 	  <%= link_to edit_user_path do %>
  	 	    <i class="material-icons circle teal darken-3">edit</i>プロフィール編集
  	 	  <% end %>
  	 	</li>
  	 	<li class="collection-item avatar">
  	 	  <%= link_to user_path method: :destroy do %>
  	 	    <i class="material-icons circle teal darken-3">priority_high</i>退会
  	 	  <% end %>
  	 	</li>
  	 </ul>
  	</div>
  </div>
</div>