<div class= "container">
  <div class="row">
  <% if flash[:user_update] %>
  　<div class="flash">
  　　<%= flash[:user_update] %>
    </div>
    <% end %>
  <% if flash[:miss_update] %>
  　<div class="flash">
  　　<%= flash[:miss_update] %>
    </div>
    <% end %>
  <div class="offset-s3 col s6">
	<ul class = "collection">
		<li class= "collection-item center"><%= attachment_image_tag @user, :profile_image,　format: 'png', fallback: "no_image.png", size: "100x100" %></li>
		<li class= "collection-item center"><%= @user.name %></li>
		<li class= "collection-item center"><%= @user.self_introduction %></li>
	</ul>
  </div>
  <div class="row">
    <% if @user.id != current_user.id %>
       <%= link_to create_chat_room_path(@user), method: :post do %>
       <button class="btn waves-effect waves-light teal darken-4" type="submit" name="action">
          <i class="material-icons right">send</i><%= @user.name %>さんへメッセージを送る
       </button>
       <% end %>
    <% end %>
  </div>
    <% if @user.id == current_user.id %>
  	<div class="offset-s2 col s4">
  	 <ul class= "collection">
  	 	<li class="collection-item avatar">
  	 	  <%= link_to chat_index_path do %>
  	 	    <i class="material-icons circle teal darken-3">chat</i><p class="text">チャット一覧</p>
  	 	  <% end %>
  	 	</li>
  	 	<li class="collection-item avatar">
  	 	  <%= link_to log_user_path do %>
  	 	    <i class="material-icons circle teal darken-3">playlist_add_check</i><p class="text">投稿一覧</p>
  	 	  <% end %>
  	 	</li>
  	 </ul>
  	</div>
  	<div class="col s4">
  	 <ul class= "collection">
  	 	<li class="collection-item avatar">
  	 	  <%= link_to edit_user_path do %>
  	 	    <i class="material-icons circle teal darken-3">edit</i><p class="text">プロフィール編集</p>
  	 	  <% end %>
  	 	</li>
  	 	<li class="collection-item avatar">
  	 	  <%= link_to user_path method: :destroy do %>
  	 	    <i class="material-icons circle teal darken-3">priority_high</i><p class="text">退会</p>
  	 	  <% end %>
  	 	</li>
  	 </ul>
  	</div>
    <% end %>
  </div>
</div>