<div class= container>
<% if flash[:notice] %>
　<div class="flash">
　　<%= flash[:notice] %>
</div>
<% end %>
  <h3>ログイン</h3>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
             <i class="material-icons prefix">email</i>
             <%= f.label :email, 'メールアドレス' %>
             <%= f.text_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
             <i class="material-icons prefix">vpn_key</i>
             <%= f.label :password, 'パスワード' %>
             <%= f.password_field :password, autocomplete: "new-password", :type => "password", :id => "email", :class => "form-control input-sm chat-input" %>
          </div>
          <button class="btn waves-effect waves-light teal darken-4" type="submit" name="action">
            <i class="material-icons right">send</i>
             <%= f.submit "" %>
             ログイン
          </button>
    <% end %>
    <br>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.hidden_field :email, value: 'aimyon@gmail.com' %>
        <%= f.hidden_field :password, value: '111111' %>
          <button class="btn waves-effect waves-light teal darken-4" type="submit" name="action">
            <i class="material-icons right">send</i>
             <%= f.submit "" %>
             テストユーザーとしてログインする
          </button>
    <% end %>
</div>
