<!DOCTYPE html>
<html>
  <head>
    <title>Ball Park</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
       <!-- Compiled and minified CSS -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Compiled and minified JavaScript -->

  </head>
  <body>
    <nav>
      <div class="nav-wrapper teal darken-4">
        <div class="brand-logo center"><%= link_to "Ball Park", tops_top_path %></div>
            <% if user_signed_in? %>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><%= link_to "投稿を作成する", new_recruitment_path %></li>
              <li><%= link_to "投稿一覧", recruitments_path %></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><%= link_to 'つながる', users_path %></li>
              <li><%= link_to 'マイページ', user_path(current_user.id) %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            </ul>
            <% else %>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><%= link_to "会員登録", new_user_registration_path%></li>
              <li><%= link_to "ログイン", new_user_session_path %></li>
            </ul>
            <% end %>
      </div>
    </nav>
<script>

  $(document).ready(function(){
    $('select').formSelect();
  });
    $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
    $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>
    <%= yield %>
  </body>
</html>
