<!DOCTYPE html>
<html>
  <head>
    <title>Ball Park</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper teal darken-4">
        <div class="brand-logo center"><%= link_to "Ball Park", tops_top_path %></div>
            <% if user_signed_in? %>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><%= link_to "新規作成", new_recruitment_path %></li>
              <li><%= link_to "投稿一覧", recruitments_path %></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><%= link_to 'ユーザー一覧', users_path %></li>
              <li><%= link_to 'マイページ', user_path(current_user.id) %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            </ul>
            <% else %>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><%= link_to "会員登録", new_user_registration_path%></li>
              <li><%= link_to "ログイン", new_user_session_path %></li>
            </ul>
            <% end %>
      </div>
    </nav>
<script>

  $(document).ready(function(){
    $('select').formSelect();
  });
    $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
    $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>
    <%= yield %>
<footer class="page-footer">
  <div class="container">
    <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Ball Park</h5>
          <p class="grey-text text-lighten-4">野球をもっと身近に</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <% if user_signed_in? %>
          <h5 class="white-text">Links</h5>
            <ul>
              <li class="white-text"><a href="/recruitments" href="#!">投稿一覧</a></li>
              <li><a href="/users">ユーザーとつながる</a></li>
            </ul>
          <% end %>
        </div>
    </div>
  </div>
</footer>
</body>
</html>
